{{ "product-collection-style1.scss.css" | asset_url | stylesheet_tag }}

<div class="tii_product-collection">
    <div class="product-media">
        {%- if card_product.featured_media -%}
        <div class="product-image">
            <a href="{{ card_product.url }}"  alt="{{ card_product.featured_media.alt | escape }}">
            <img
                srcset="
                  {%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w
                "
                src="{{ card_product.featured_media | image_url: width: 360 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="{{ card_product.featured_media.alt | escape }}"
                class="motion-reduce {% if show_secondary_image %} first-image {% endif %}"
                {% unless lazy_load == false %}
                  loading="lazy"
                {% endunless %}
                width="{{ card_product.featured_media.width }}"
                height="{{ card_product.featured_media.height }}"
              >
              {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}

              {%- if card_product.media[1] != null and show_secondary_image -%}
                <img
                  srcset="
                    {%- if card_product.media[1].width >= 165 -%}{{ card_product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if card_product.media[1].width >= 360 -%}{{ card_product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if card_product.media[1].width >= 533 -%}{{ card_product.media[1] | image_url: width: 533 }} 533w,{%- endif -%}
                    {%- if card_product.media[1].width >= 720 -%}{{ card_product.media[1] | image_url: width: 720 }} 720w,{%- endif -%}
                    {%- if card_product.media[1].width >= 940 -%}{{ card_product.media[1] | image_url: width: 940 }} 940w,{%- endif -%}
                    {%- if card_product.media[1].width >= 1066 -%}{{ card_product.media[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
                    {{ card_product.media[1] | image_url }} {{ card_product.media[1].width }}w
                  "
                  src="{{ card_product.media[1] | image_url: width: 533 }}"
                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                  alt="{{ card_product.media[1].alt | escape }}"
                  class="motion-reduce second-image"
                  loading="lazy"
                  width="{{ card_product.media[1].width }}"
                  height="{{ card_product.media[1].height }}"
                >
              {%- endif -%}
              </a>
        </div>
        {%- endif -%}
        <div class="badges">
                            {% assign launch_date = product.created_at | date: "%s" %}
                            {% assign current_date = "now" | date: "%s" %}
                            {% assign days_since_launch = current_date | minus: launch_date | divided_by: 86400 %}

                            {% if days_since_launch < 5 or product.tags contains 'New' %}
                                <span class="badge-new">NEW</span>
                            {% endif %}
                            {%- if product.compare_at_price > product.price and product.available -%}
                                {% assign discount = product.compare_at_price | minus: product.price | times: 100 | divided_by: product.compare_at_price %}
                                <span
                                  class="badge badge-offer color-{{ settings.sale_badge_color_scheme }}"
                                >
                                -{{ discount | round }}%
                                </span>
                              {%- endif -%}
                          </div> 
    </div>
    <div class="product-content">
        {%- if show_vendor -%}
            <div class="product-brand">
                <span>{{ card_product.vendor }}</span>
            </div>
          {%- endif -%}
        <div class="product-title  hide-mobile">
            <a
            href="{{ card_product.url }}"
            id="StandardCardNoMediaLink-{{ section_id }}-{{ card_product.id }}"
            class="full-unstyled-link"
            aria-labelledby="StandardCardNoMediaLink-{{ section_id }}-{{ card_product.id }} NoMediaStandardBadge-{{ section_id }}-{{ card_product.id }}"
          >
            {{ card_product.title | escape }}
          </a>
        </div>
        {% render 'price', product: card_product, price_class: '', show_compare_at_price: true %}
        {% if section.settings.enable_variant_picker %}
        <div class="product-variant-swatch color-swatch">
            
            
                {%- for option in card_product.options_with_values -%}
                  {%- if option.name == 'Color' -%}
    
                    {%- for value in option.values -%}   
                      
                        {%- for variant in card_product.variants -%}
                            {%- if variant.title contains value -%}
                              {%- assign variantImgSrc = variant.image.src | img_url: width: 100 -%}
                              {%- break -%}
                            {%- endif -%}
                          {%- endfor -%}
                    {%- liquid
                        assign swatch = value.swatch 
                        assign swatch_value = 'rgb(' | append: swatch.color.rgb | append: ')'   
                        if swatch.image
                            assign image_url = swatch.image | image_url: width: 50
                            assign swatch_image = 'url(' | append: image_url | append: ')'
                            assign swatch_focal_point = swatch.image.presentation.focal_point
                           
                        endif  
                        -%}
                      <span
                    data-selected-value
                    class="dropdown-swatch"
                  >
                  
                    {% comment %} {% render 'swatch', swatch: value.swatch, shape: section.settings.swatch_shape %} {% endcomment %}
                    
                  </span>
                  <div class="tii_product-color-swatches tii_option-swatch-js large tii_tooltip tii_{{ value | downcase }}" data-value="{{ value | escape }}" data-color="{{ value | downcase }}" data-position="2" data-image="{{ variantImgSrc }}"  style="background-color: {{ swatch_value }};">
                        <span class="tii_tooltip-content">{{ value | escape }}</span>
                    </div>
                    {%- endfor -%}
                  
                  {%- endif -%}
                {%- endfor -%}
           
            
        </div>
    {%- endif -%}
       
    </div>

</div>